* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*index*/ 

.logo{
  width: 100%;
  height: 100%;
  background-image: url(../Imagenes/c728f72b455bd2c8743db299f891eeed--leaves-wallpaper-hd-wallpaper.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}

.headertitulo{
  color: black;
  font-size: 75px;
  margin: 200px;
  padding: 10px;
  font-family: 'open sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.navbar{
  background: rgb(142,255,0);
background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);
}
 
.footer1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: black;
  background: rgb(142,255,0);
background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);
  font-family:'open sans', sans-serif;
  font-weight: 100;
}

/*contacto*/

.nosotros1{
  font-size: 35px;
  text-align: center;
  background: rgb(142,255,0);
  background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);;
}

.lista{
  width: 10%;
  height: 9%;
  position: fixed;

  transition: .4s all;
  z-index: 1;
}

.lista ul{
  padding: 0px;
  text-align: center;
}

.lista li{
  text-align: center;
  transition: .3s all;
}

.lista a{
  text-decoration: none;
  list-style: none;

  transition: .3s all;
  font-size: 0px;
  padding: 0px;
}

.lista h2{
  text-align: center;
  color: black;
  padding: 7px;
  padding-bottom: 7px;

  font-size: 0%;
}

.lista img{
  padding-top: 20px;
  padding-left: 10px;
}

.lista:hover{
  width: 40%;
  height: 100%;

  background: rgb(142,255,0);
  background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);;
}
 
.lista:hover h2{
  padding: 15px;
  font-size: 35px;
}

.lista:hover a{
  font-size: 20px;
  color: black;
  display: block;
  padding: 20px;
}

.lista:hover img{
  height: 0px;
}

.lista:hover li{
  border-top: 1px solid black;
  width: 100%;
}

.lista:hover ul:last-of-type{
  border-bottom: 1px solid black;
}

.lista:hover a:hover{
  font-size: 25px;
  padding: 30px 0px;
  background-color: rgba(22, 78, 112, alpha);
}

.main{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.icon{
  font-size: 17px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 15px;
  color: black;
  font-weight: 500;
}

.formulario{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 15px;
}

.class{
  width: 20px;
  max-width: 20%; 
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: black;
  background: rgb(142,255,0);
  background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);
  font-family:'open sans', sans-serif;
  font-weight: 100
}

/* Para las macetas y las plantas de interior y exterior*/

.grid-layout{
  height: 800px;
  display: grid;
  grid-template-areas: "titulo titulo titulo"
                        "menu imagenes imagen"
                        "footer footer footer";
  grid-template-columns:10% auto auto;
  grid-template-rows:10% auto auto ;
  gap: 5px;
}

img{
  max-width: 100%;
}

.c1{
  grid-area: titulo;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family:'open sans', sans-serif;
  font-weight: 1000;
  font-size: 300%;
  background: rgb(142,255,0);
  background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%); 

}

/*menu desplegable*/

.c2{
  grid-area: menu;
  width: 10%;
  height: 9%;
  position: fixed;

  transition: .4s all;
  z-index: 1;
}

.c2 ul{
  padding: 0px;
  text-align: center;
}

.c2 li{
  text-align: center;
  transition: .3s all;
}

.c2 a{
  text-decoration: none;
  list-style: none;

  transition: .3s all;
  font-size: 0px;
  padding: 0px;
}

.c2 h2{
  text-align: center;
  color: black;
  padding: 7px;
  padding-bottom: 7px;

  font-size: 0%;
}

.c2 img{
  padding-top: 90px;
  padding-left: 10px;
}

.c2:hover{
  width: 40%;
  height: 100%;

  background: rgb(142,255,0);
  background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);;
}
 
.c2:hover h2{
  padding: 15px;
  font-size: 35px;
}

.c2:hover a{
  font-size: 20px;
  color: black;
  display: block;
  padding: 20px;
}

.c2:hover img{
  height: 0px;
}

.c2:hover li{
  border-top: 1px solid black;
  width: 100%;
}

.c2:hover ul:last-of-type{
  border-bottom: 1px solid black;
}

.c2:hover a:hover{
  font-size: 25px;
  padding: 30px 0px;
  background-color: rgba(22, 78, 112, alpha);
}


/*imagenes*/

img{
  max-width: 100%;
}

.c3{
  padding: 20px;  
  grid-area: imagenes;
  gap: 50px;
}

.c4{
  padding: 20px;
  grid-area: imagen;
  gap: 50px;
}


.c5{
  grid-area: footer;
  background: rgb(142,255,0);
  background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);
  text-align:start;
  font-family:'open sans', sans-serif;
  font-weight: 200;
 
}

/*media query*/

@media screen and (max-width: 480px) {
  /*index*/ 
  .headertitulo{
    font-size: 80%;
  }
  .logo{
    width: 100%;
    height: 100%;
  }

  /*contacto*/
   .lista{
     height: 100%;
     width: 20%;

   }
  .icon{
    font-size: 80%;
    display: flex;
    flex-direction: column;
  }

  .formulario{
    font-size: 80%;

    
  }
  .footer{
    font-size: 60%;
    height: 100%;
  }

 /*macetas, plantas de interior y exterior*/
  .c3 .c4{
    display: grid;
    grid-template-columns: 1fr;
  }
  .c2 img{
    max-width: 800%;

  }
    .c1{
    font-size:150% ;
  }
 
}


@media (max-width: 768px) {
  /*index*/ 
  .headertitulo{
    font-size: 200%;
  }
  .logo{
    height: 100%;
  }
/*contacto*/
.formulario{
  font-size: 80%;

}

.footer{
  font-size: 70%;
  height: 10%;
}


/*macetas, plantas de interior y exterior*/
  .c3 .c4{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .c1{
    font-size:100%;
  }
  
}

@media (max-width: 1024px) {
/*index*/
  .headertitulo{
    font-size: 300%;
  }
  .logo{
    height: 100%;
    width: 100%;
  }

  /*macetas, plantas de interior y exterior*/
  .c3 .c4{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .c1{
    font-size:300% ;
  }
  
}


