@import "./parciles/reset";
@import "./parciles/body";
@import "./parciles/header";
@import "./parciles/menuDesplegable";
@import "./parciles/footer";

/*media query*/

@media screen and (max-width: 480px) {
	/*index*/
    .headertitulo {
		font-size: 80%;
	}
	.logo {
		width: 100%; 
		height: 100%;
	}
    /*contacto*/
	.lista {
		height: 100%;
		width: 20%;
	}
	.icon {
		font-size: 80%;
		display: flex;
		flex-direction: column;
	}
	.formulario {
		font-size: 80%;
	}
	.footer {
		font-size: 60%;
		height: 100%;
	}
    /*macetas, plantas de interior y exterior*/
	.i1 {
			display: grid;
			grid-template-rows: 50%;
    .i2{
		display: grid;
		grid-template-rows: 50%;
	}
	.i3{
		display: grid;
		grid-template-rows: 50%;
	}
	.i4{
		display: grid;
		grid-template-rows: 50%;
	}
	.i5{
		display: grid;
		grid-template-rows: 50%;
	}
	.i6{
		display: grid;
		grid-template-rows: 50%;
	}
	.i7{
		display: grid;
		grid-template-rows: 50%;
	}
	.i8{
		display: grid;
		grid-template-rows: 50%;
	}
	.i9{
		display: grid;
		grid-template-rows: 50%;
	}
	.i10{
		display: grid;
		grid-template-rows: 50%;
	}
	.f1{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f2{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f3{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f4{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f5{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f6{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f7{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f8{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f9{
		display: grid;
		grid-template-rows: 10% 5%;
	}
	.f10{
		display: grid;
		grid-template-rows: 10% 5%;
	}

	}
	.c2 {
		img {
			max-width: 800%;
		}
	}
	.c1 {
		font-size: 100%;
	}
}
@media (max-width: 768px) {
	/*index*/
    .headertitulo {
		font-size: 200%;
	}
	.logo {
		height: 200%;
	}
	/*contacto*/
    .formulario {
		font-size: 80%;
	}
	.footer {
		font-size: 70%;
		height: 10%;
	}
	/*macetas, plantas de interior y exterior*/
    .i1 .i2 .i3 .i4 .i5 .i6 .i7 .i8 .i9 .i10 {
		display: grid;
		grid-template-columns: 40% 40%;

	.f1 .f2 .f3 .f4 .f5 .f6 .f6 .f7 .f8 .f9 .f10{
		display: grid;
		grid-template-columns: 15% 5%;
	}
}
	.c1 {
		font-size: 100%;
	}
}
@media (max-width: 1024px) {
	/*index*/
    .headertitulo {
		font-size: 300px;
	}
	.logo {
		height: 200%;
		width: 200%;
	}
    /*macetas, plantas de interior y exterior*/
    
	.c1 {
		font-size: 200%;
	}
}
