/* Externd para el footer */

.footer2{
  background: rgb(142,255,0);
  background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);
}

/* Mixin para el footer */

@mixin tipografia {
  color: black;
  font-family:'open sans', sans-serif;
  font-weight: 100;
}

/* FOOTER INDEX */ 

.footer1 {
    @extend .footer2;
    @include tipografia;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
   
  }

  /* FOOTER CONTACTO */
 
  .footer1{
    @extend .footer2;
    @include tipografia;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    
  }

  /* FOOTER IMAGENES */

  .c5 {
    @extend .footer2;
    @include tipografia;
    grid-area: footer;
    text-align: start;
    
  }