/* MENU CONTACTO */

.lista {
	width: 10%;
	height: 9%;
	position: fixed;
	transition: .4s all;
	z-index: 1;
	ul {
		padding: 0px;
		text-align: center;
	}
	li {
		text-align: center;
		transition: .3s all;
	}
	a{
		text-decoration: none;
		list-style: none;
		transition: .3s all;
		font-size: 0px;
		padding: 0px;
	}
	h2 {
		text-align: center;
		color: black;
		padding: 7px;
		padding-bottom: 7px;
		font-size: 0%;
	}
	img {
		padding-top: 20px;
		padding-left: 10px;
	}
	&:hover {
		width: 40%;
		height: 100%;
		background: rgb(142,255,0);
		background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);
		h2 {
			padding: 15px;
			font-size: 35px;
		}
		a {
			font-size: 20px;
			color: black;
			display: block;
			padding: 20px;
			&:hover {
				font-size: 25px;
				padding: 30px 0px;
				background-color: rgba(142,255,0,1);
			}
		}
		img {
			height: 0px;
		}
		li {
			border-top: 1px solid black;
			width: 100%;
		}
		ul {
			&:last-of-type {
				border-bottom: 1px solid black;
			}
		}
	}
}

/* MENU IMAGENES */

.c2 {
	grid-area: menu;
	width: 10%;
	height: 9%;
	position: fixed;
	transition: .4s all;
	z-index: 1;
	ul {
		padding: 0px;
		text-align: center;
	}
	li {
		text-align: center;
		transition: .3s all;
	}
	a {
		text-decoration: none;
		list-style: none;
		transition: .3s all;
		font-size: 0px;
		padding: 0px;
	}
	h2 {
		text-align: center;
		color: black;
		padding: 7px;
		padding-bottom: 7px;
		font-size: 0%;
	}
	img {
		padding-top: 90px;
		padding-left: 10px;
	}
	&:hover {
		width: 40%;
		height: 100%;
		background: rgb(142,255,0);
		background: linear-gradient(90deg, rgba(142,255,0,1) 0%, rgba(255,255,255,1) 100%);
		h2 {
			padding: 15px;
			font-size: 35px;
		}
		a {
			font-size: 20px;
			color: black;
			display: block;
			padding: 20px;
			&:hover {
				font-size: 25px;
				padding: 30px 0px;
				background-color: rgba(142,255,0,1);
			}
		}
		img {
			height: 0px;
		}
		li {
			border-top: 1px solid black;
			width: 100%;
		}
		ul {
			&:last-of-type {
				border-bottom: 1px solid black;
			}
		}
	}
}
